@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Inter';
  font-family: 400;
  src: url('./fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('./fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-family: 600;
  src: url('./fonts/Inter-SemiBold.ttf');
}

:root {
  --text-color: #101828;
  --text-comment-color: #475467;
  --button-color: #e44848;
  --reviews-color: #ffc531;
  --background-icon-color: #f2f4f7;
  --background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 64px;
    padding-left: 64px;
  }
}
